.header{
    position: relative;
    height: 60px;
    margin: 0px;
    padding: 0;
    /* top: 0px; */
    background-color: indigo;
    width: 100%;
    /* left: 0px; */
    direction:ltr;
}

.header svg{
    height: 75%;
    transition:0.2s;
    padding: 8px;
    border-radius: 15px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    right: 10px;
}
.header svg:hover{
    background-color: blue;
}

.header h2{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    color: white;
}