#plans_container{
    height: 100%;
    width: 150%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 7px;
    background:blue;
    position: relative;
    direction: rtl;
    right: 10%;
    display: flex;
    align-items: center;

}
.plans_container_label{
    right: 10%;
}
#plans_container .plan{
    height: 100%;
    min-width: 100px;
    display: flex;
    justify-content: center;
    color: white;
    flex-direction: column;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
}
#plans_container .plan button{
    margin-top: 20px;
    height: 50px;
    border-radius: 4px;
    background-color: yellow;
    color: blue;

}
#plans_container .seperator{
    height: 80%;
    border-left: 1px solid rgba(21, 0, 114, 0.474);
    width: 1px;

}
#plans_container .more {
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#plans_container .more .circle{
    height: 40px;
    width: 40px;
    background-color: darkblue;
    border-radius: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}