body,html{
  padding:0px;
  margin: 0px;
  width: 100%;
  height: 100%;
}

.loading_page{
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1000;
  animation: loading_page_animation;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  transition: 2s;
  animation-fill-mode: forwards;

}
.loading_page .center{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 60%;
  
}
.loading_page .icon{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height: 105px;
  width: 105px;
  background:linear-gradient(to left top,rgb(16, 16, 247),rgba(46, 46, 255, 0.859));
  border-radius: 15px;
}
.loading_page .progress{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 10px;
  background: snow;
  border-radius: 3px;
  top:30px;

}
.loading_page .progress-bar{
  position: relative;
  background: blue;
  transition: 0.4s;
}
.loading_page .center .text{
  display: block;
  top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 41px;
}
.loading_page .center .text h3{
  display: inline-block;
}
.loading_page .center .text .current_progress_name{
  
}
@keyframes loading_page_animation {
  0%{
    background:blueviolet;
  }
  30%{
    background: blue;
  }
  70%{
    background: darkblue;
  }
  100%{
    background:blueviolet;
  }
}
@keyframes fade-left {
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
    transform: translateX(-10px);
  }
}

