.timelineBox{
    min-height: 5px;
    position: relative;
    width: 90%;
    left: 51%;
    transform: translateX(-50%);
    padding-bottom: 50px;
}
.timelineBox .timelineLine{
    position:absolute;
    height: 100%;
    border-left: 1px solid white;
    right: 20px;
}

.timelineBox .timelineIcon{
    
position: absolute;
    
top: 6px;
    
height: 27px;
    
width: 27px;
    
background: rgb(36,36,38);
    
right: 7px;
    
z-index: 1;
    
/* border: 1px solid aqua; */
    
border-radius: 3px;
    
padding: 10px;
}
.timelineBox .timelineIcon svg{
    
position: absolute;
    
top: 50%;
    
height: 70%;
    
left: 50%;
    
transform: translate(-50%,-50%);
    
width: 70%;
}
.timelineBox .timelineTitle{

position: absolute;

top: 10px;

right: 37px;

direction: ltr;
}

.timelineBox .timelineItemsContainer{

position: relative;

width: 97%;

min-height: 70px;

top: 40px;

left: 50%;

transform: translateX(-50%);
}
.timelineBox .timelineItemsContainer .timelineItem{

position: relative;

min-height: 57px;

width: 100%;

background: rgb(54,54,56);

border: 1px solid rgb(84,84,86);

direction: rtl;

border-bottom:none;

padding-right: 10px;

padding-bottom: 4px;
}
.timelineBox .timelineItemsContainer .timelineItem:first-child{
    border-top-right-radius: 5px;
    border-top-left-radius:5px;
    
}
.timelineBox .timelineItemsContainer .timelineItem:last-child{
    border-bottom-right-radius: 5px;
    border-bottom-left-radius:5px;
    margin-bottom: 7px;
    border-bottom:1px solid rgb(84,84,86);
}
.lastDoneWork{
    position:relative;
    min-height: 330px;
    width:70%;
    left:50%;
    transform:translateX(-50%);
    border-radius:10px;
    /* border:1px solid purple; */
    padding-bottom: 50px;
    background-color: purple;
}
.currentProjectBoxTitle,
.timelineBoxesTitle{
    direction: rtl;
    padding-right: 5%;
    margin-bottom: 10px;
}
.lastDoneWork .icon{
    position: relative;
    top: 65px;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lastDoneWork .icon svg{
    height: 80%;
    width: 80%;
}
.lastDoneWork .progress{
    position: relative;
    top: 22px;
    direction: rtl;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
}
.lastDoneWork .title{
    position: relative;
    top: 10px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}
.lastDoneWork #progressLabel{
    direction:rtl;
    position: relative;
    color:white;
    top: 10px;
    text-align: right;
    width: 100%;
}
.lastDoneWork .empty{
    
position: absolute;
    
top: 170px;
    
left: 50%;
    
transform: translateX(-50%);
    
width: 200px;
    
padding: 10px;
    
border-radius: 21px;
}
.lastDoneWork .items{

position: relative;

top: 33px;

height: 90px;

left: 50%;

transform: translateX(-50%);

width: 85%;

border-radius: 0px;

overflow-y: scroll;

direction: rtl;

overflow-x: scroll;
}
.lastDoneWork .items div{

position: relative;

background-color: blue;

color: white;

padding: 1px 10px 1px 10px;

border-radius: 8px;

display: inline-block;

margin-left: 4px;

font-size: 14px;

margin-bottom: 4px;
}
.my_container{
    
width: 85%;
    
left: 50%;
    
transform: translateX(-50%);
    
position: relative;
}