.box{position: relative;width: 81%;min-height: 60px;background: #d3d3d338;left: 50%;transform: translateX(-50%);border-radius: 15px;margin-top: 9px;margin-bottom: 10px;}
#submit_button,#back_button{
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    height: 39px;
    width: 80%;
    margin-top: 13px;
}
#data_container .item{
    position: relative;
    direction: rtl;
    color: white;
    margin: -3px 10px 5px 10px;
}
#data_container .item:first-child{
    padding-top: 8px;
}
#data_container .item:last-of-type{
    padding-bottom: 8px;
    min-height: 200px;
}

#content_container{
    
direction: rtl;
    
text-align: right;
    
color: white;
    
padding: 5px 10px 5px 10px;
}
.mark_as_done_box{
    border: 1px solid aqua;
    border-radius: 8px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-top: 30px;
    padding: 10px;
    min-height: 166px;
    direction: rtl;
}
.mark_as_done_box h1{
    color: white;
    margin-bottom: 20px;
}
.mark_as_done_box input{
    direction: rtl;
    min-height: 80px;
}