#app_is_not_available_layer{
    .background{
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        position: fixed;
        background-color: deepskyblue;
    }
    .center{
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        position: absolute;
    }
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 60%;
        max-width: 500px;
    }
    .main_icon_container{
        height: 100px;
        width: 100px;
        border-radius: 8px;
        background-color: lightblue;
    }
    h6,h2{
        text-align: center;
    }    
}
