.purple{
    width: 49%;
    background-color: purple;
    height: 61px;
    transform: skew(342deg,0deg) translateX(-50%);
    position: absolute;
    border-radius: 10px;
    left: 50%;
    top: 38px;
    display:flex;
    align-items: center;
    justify-content: center;

}
.purple *{
    transform:skew(10deg,0deg);
}
.rtl-center{
    direction: rtl;
    text-align:center;
}
button{
    height:30px;
    width:initial;
}
.timelineBox{
    min-height: 5px;
    position: relative;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 50px;
}
.timelineBox .timelineLine{
    position:absolute;
    height: 100%;
    border-left: 1px solid white;
    right: 20px;
}
.timelineBox .timelineIcon{
    position: absolute;
    top: 12px;
    height: 17px;
    width: 17px;
    background: purple;
    right: 12px;
    z-index: 1;
    border: 1px solid aqua;
    border-radius: 3px;
}
.timelineBox .timelineTitle{
position: absolute;
top: 10px;
color: white;
right: 37px;
direction: ltr;
}

.timelineBox .timelineItemsContainer{
position: relative;
width: 97%;
min-height: 70px;
top: 40px;
left: 50%;
transform: translateX(-50%);
}
.timelineBox .timelineItemsContainer .timelineItem{
position: relative;
height: 57px;
width: 100%;
background: midnightblue;
border: 1px solid aqua;
direction: rtl;
border-bottom:none;
padding-right: 10px;
}
.timelineBox .timelineItemsContainer .timelineItem:first-child{
    border-top-right-radius: 5px;
    border-top-left-radius:5px;
    
}
.timelineBox .timelineItemsContainer .timelineItem:last-child{
    border-bottom-right-radius: 5px;
    border-bottom-left-radius:5px;
    margin-bottom: 7px;
    border-bottom:1px solid aqua;
}
