.purple{
    width: 49%;
    background-color: purple;
    height: 61px;
    transform: skew(342deg,0deg) translateX(-50%);
    position: absolute;
    border-radius: 10px;
    left: 50%;
    top: 38px;
    display:flex;
    align-items: center;
    justify-content: center;

}
.purple *{
    transform:skew(10deg,0deg);
}
.rtl-center{
    direction: rtl;
    text-align:center;
}
button{
    height:30px;
    width:initial;
}