body{
    padding-bottom: 30px;
}
.timelineBox{
    min-height: 5px;
    position: relative;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 50px;
}
.timelineBox .timelineLine{
    position:absolute;
    height: 100%;
    border-left: 1px solid white;
    right: 20px;
}

.timelineBox .timelineIcon{
    
position: absolute;
    
top: 9px;
    
height: 23px;
    
width: 23px;
    
background: rgb(36,36,38);
    
right: 9px;
    
z-index: 1;
    
/* border: 1px solid aqua; */
    
border-radius: 3px;
}
.timelineBox .timelineIcon svg{
    
position: absolute;
    
top: 50%;
    
height: 100%;
    
left: 50%;
    
transform: translate(-50%,-50%);
    
width: 80%;
}
.timelineBox .timelineTitle{

position: absolute;

top: 10px;

color: white;

right: 37px;

direction: ltr;
}

.timelineBox .timelineItemsContainer{

position: relative;

width: 97%;

min-height: 70px;

top: 40px;

left: 50%;

transform: translateX(-50%);
}
.timelineBox .timelineItemsContainer .timelineItem{
position: relative;
height: 57px;
width: 100%;
background: rgb(54,54,56);
border: 1px solid rgb(84,84,86);
direction: rtl;
border-bottom:none;
padding-right: 10px;
}
.timelineBox .timelineItemsContainer .timelineItem:first-child{
    border-top-right-radius: 5px;
    border-top-left-radius:5px;
    
}
.timelineBox .timelineItemsContainer .timelineItem:last-child{
    border-bottom-right-radius: 5px;
    border-bottom-left-radius:5px;
    margin-bottom: 7px;
    border-bottom:1px solid rgb(84,84,86);
}
.lastDoneWork{
    position:relative;
    height: 330px;
    width:70%;
    left:50%;
    transform:translateX(-50%);
    border-radius:10px;
    /* border:1px solid purple; */
    background-color: purple;
}
.currentProjectBoxTitle,
.timelineBoxesTitle{
    direction: rtl;
    padding-right: 5%;
    margin-bottom: 10px;
}
.lastDoneWork .icon{
    position: absolute;
    top: 65px;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lastDoneWork .icon svg{
    height: 80%;
    width: 80%;
}
.lastDoneWork .progress{
    position: absolute;
    top: 199px;
    direction: rtl;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 85%;
}
.lastDoneWork .title{
    position: absolute;
    top: 117px;
    left: 50%;
    transform: translateX(-50%);
}
.lastDoneWork #progressLabel{
    direction:rtl;
    position: absolute;
    color:white;
    top: 167px;
    right: 24px;
}
.lastDoneWork .items{

position: absolute;

top: 226px;

height: 90px;

left: 50%;

transform: translateX(-50%);

width: 85%;

border-radius: 0px;

overflow-y: scroll;

direction: rtl;
}
.lastDoneWork .items div{

position: relative;

background-color: blue;

color: white;

padding: 1px 10px 1px 10px;

border-radius: 8px;

display: inline-block;

margin-left: 4px;

margin-bottom: 4px;
}
