<!DOCTYPE html>


    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>support form</title>
    <script src="../common/common.js"></script>
    <link href="styles.css" rel="stylesheet">
    <script src="../common/lib/componise.js"></script>
    <link rel="stylesheet" href="../common/lib/bootstrap.min.css">
    <link rel="stylesheet" href="../common/common.css">
    <link rel="stylesheet" href="../common/components/header/header.css">
    <script src="codes.js"></script>
<script src="../common/svgs.js"></script>


    <div className="mainBackground"></div>
    <script>
        componise.renderComponent({
            componentName:"myheader"
        })
    </script>
    
    <div className="row justify-content-center d-flex mt-3">
        <div className="col-6">
            <h1 className="text-light rtl-center">ورود به پنل مدیر</h1>
        </div>
    </div>  
    <div className="row justify-content-center d-flex mt-1">
        <div className="col-10">
            <h5 className="text-secondary rtl-center">نام کاربری خود را از میان موارد زیر انتخاب کنید</h5>
        </div>
    </div>  
    
    <div className="row d-flex justify-content-center mt-1">
        <hr className="bg-light w-75">
    </div>
    <div id="dataContainer">

    </div>

