.custom_footer{
    background:#0000cb;
    width: 100%;
    position: relative;
    border: 1px solid transparent; /* for content margin problem */
}
.custom_footer .mouj-icon {
    height: 35px;
    width: 35px;
    background: blue;
    border-radius: 8px;
    display: inline-block;
    border: 2px solid aqua;
}
.custom_footer .icon-note{
    line-height: 18px;
    font-size: 13px;

}
.custom_footer .custom-nav-bar{
    height:45px;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    background-color: #2828ff;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
}
.custom_footer .custom-nav-bar .item {
    height: 25px;
    position: relative;
    top:50%;
    transform: translateY(-50%);
}
.custom_footer .custom-nav-bar .item:first-of-type{
    width: 25px;
}
.custom_footer .custom-nav-bar .seperator {
    height: 20px;
    width: 20px;
    position: relative;
    top:50%;
    transform: translateY(-50%);
    margin-left: 5px;
    margin-right: 5px ;
}
.custom_footer .custom-nav-bar .item a{
    color:white;
}