html,body{
	/* width: 100%; */
	height:100%;
	padding:0px;
	margin:0px;
	overflow-x: hidden;
}
.relative_container{
	position:relative;width:100%;height:100%;
}

#app {
	position: relative;
	width: 100%;
	margin: 0px;
	height: 100%;
	overflow: scroll;
	overflow-x: hidden;
	padding: 0px;
}
#app .background{
	position: fixed;
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	background-color: rgb(36,36,38);
}
.content-container{
	position: relative;
	width: auto;
	overflow-y: hidden;
	overflow-x: hidden;
}
.tips_container{
	direction:rtl ;
}
.dir_rtl{
	direction: rtl;
}
.rtl-center{
	text-align:center;
	direction:rtl;
}
a{
	text-underline-position: under;
}
/* animations */
/* ------------------------------------ */

.fade_out_left{
	transition: 0.7s;
	transform: translateX(-10px);
	opacity:0;
}
.fade_in_right{
	transition: 0.7s;
	transform: translateX(10px);
	opacity:1;
}

.mainBackground{
	position: fixed;
	height: 100%;
	margin: 0px;
	width: 100%;
	padding: 0px;
	background-color: rgb(36,36,38);
	z-index:-1;
}



/* 
	components styles
*/
.home-option{
    direction:rtl;
}
.home-option .option-icon{
    width: 72%;
}
.home-option .info{
    max-width: 85%;
}
.home-option .title{
    max-width: 85%;
}
.home-option .title a{
	text-decoration:none
}
.home-option .title a:hover{
	text-decoration:underline;
	text-underline-position:under;
	    text-underline-offset: 2px;
}




.title{

	position: relative;
	
	text-align: right;
	
	direction: rtl;
	
	color: white;
	
	margin: 9px;
	
	margin-right: 25px;
	}
	#dataContainer{
		/* background: blue; */
		position: relative;
		width: 84%;
		min-height: 300px;
		left: 50%;
		transform: translateX(-50%);
	}
#dataContainer .plan{
	height: 50px;
	width: 100%;
	background: purple;
	border-radius: 17px;
	position: relative;
	margin-bottom: 8px;
}
#dataContainer .plan .title{
	direction: rtl;
	color: white;
	position: absolute;
	right: 21px;
	top: 50%;
	transform: translateY(-50%);
	margin: 0px;

}
#dataContainer .plan .iconsContainer{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	/* background: green; */
	min-width: 100px;
	height: 85%;
	left: 13px;
	overflow-x: scroll;
	overflow-y: hidden;
}
#dataContainer .plan .iconsContainer .icon{position: relative;height: 31px;width: 31px;/* background: red; */display: inline-flex;justify-content: center;align-items: center;top: 50%;border-radius: 7px;transform: translateY(-50%);transition: 0.4s;}
#dataContainer .plan .iconsContainer .icon:hover{
	
background: rgba(0,0,255,0.3);
}
#dataContainer .plan .iconsContainer .icon svg{
	height:70%;
	width:70%;
}