.header{
    position: relative;
    height: 60px;
    margin: 0px;
    padding: 0;
    /* top: 0px; */
    background-color: indigo;
    width: 100%;
    /* left: 0px; */
}
.header .url{
    color: white;
}

.header a.link_container{
    height:100%;
    width:100%;
}
.header .person_icon{
    height: 75%;
    transition:0.2s;
    padding: 8px;
    border-radius: 15px;
}
.header .person_icon:hover{
    background-color: purple;
}
.header .url{
    margin: 0;
    padding: 0;
}