.title{
    direction:rtl;
    text-align:center;
}
#new {
    min-height: 100%;
    padding-bottom: 20px;
}
input,select{
    direction: rtl;
}
.plans_container{
    width: 80%;
    position: relative;
    margin-left: 50%;
    transform: translateX(-50%);
    min-height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.plans_container .plan {
    width: 100%;
    border-radius: 10px;
    background: purple;
    margin-bottom: 10px;
    color: white;
    padding: 12px;
}
.plans_container .plan .title{
    text-align: right;
    display: block;
}
.plans_container .plan .info{
    text-align: right;
    display: block;
    margin-top: 4px ;
}
.plans_container .plan .props {
    height: 60px;
    width: 100%;
    margin-top: 15px;
    overflow-y:auto;
    overflow-x: hidden;
    direction: rtl ;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.plans_container .plan .prop{
    height: 24px;
    font-size: small;
    display: inline-flex;
    min-width: 40px;
    color: white;
    text-align: center;
    direction: rtl;
    margin-left: 4px;
    background: deepskyblue;
    border-radius: 4px;
    padding:1px 2px 1px 2px;
    margin-bottom: 4px;
}
.plans_container a{
    text-align: center;
}