.title{
    direction:rtl;
    text-align:center;
}
#new {
    min-height: 100%;
    padding-bottom: 20px;
}
input,select{
    direction: rtl;
}
.scroll-view{
    position: relative;
    width: 100%;
    height: 250px;
    overflow-x:scroll;
    direction: rtl;
    padding: 10px 0px 10px 0px;
    overflow-y: hidden;
}
