html,body{
	/* width: 100%; */
	height:100%;
	padding:0px;
	margin:0px;
	overflow-x: hidden;
}
.relative_container{
	position:relative;width:100%;height:100%;
}

#app {
	position: relative;
	width: 100%;
	margin: 0px;
	height: 100%;
	overflow: scroll;
	overflow-x: hidden;
	padding: 0px;
}
#app .background{
	position: fixed;
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	background-color: rgb(36,36,38);
}
.content-container{
	position: relative;
	width: auto;
	overflow-y: hidden;
	overflow-x: hidden;
}
.tips_container{
	direction:rtl ;
}
.dir_rtl{
	direction: rtl;
}
.rtl-center{
	text-align:center;
	direction:rtl;
}
a{
	text-underline-position: under;
}
/* animations */
/* ------------------------------------ */

.fade_out_left{
	transition: 0.7s;
	transform: translateX(-10px);
	opacity:0;
}
.fade_in_right{
	transition: 0.7s;
	transform: translateX(10px);
	opacity:1;
}

.mainBackground{
	position: fixed;
	height: 100%;
	margin: 0px;
	width: 100%;
	padding: 0px;
	background-color: rgb(36,36,38);
	z-index:-1;
}



/* 
	components styles
*/


.title{

position: relative;

text-align: right;

direction: rtl;

color: white;
}
#dataContainer{
		
/* background: blue; */
		
position: relative;
		
width: 84%;
		
min-height: 300px;
		
left: 50%;
		
transform: translateX(-50%);
}
.option{
	min-height: 50px;
	width: 100%;
	direction: rtl;
	background: purple;
	border-radius: 17px;
	position: relative;
	margin-bottom: 8px;
	display: flex;
	padding: 5px 0px 7px 0px;
	align-items: center;
	transition: 0.3s;
}
.option:hover{
	
background: blue;
}
.option.with_bottom_button{

padding-bottom: 50px;
}
.option .title{
	direction: rtl;
	color: white;
	right: 15px;
	margin: 0px;
	padding: 0px;
	text-align: right;
	position: relative;
}
.option .iconsContainer{
	position: relative;
	/* background: green; */
	width: 40%;
	height: auto;
	left: 13px;
	direction: ltr;
	overflow-x: auto;
	overflow-y: hidden;
	display: inline-block;
	
}

.option .iconsContainer img:hover{
	
background: gray;
}
.option .iconsContainer img{
	height:70%;
	width:70%;
	max-width: 30px;
	max-height: 30px;
	padding: 5px;
	border-radius: 6px;
	box-sizing: content-box;
}
.option .right_container{
	position: relative;
	display: inline-block;
	width: 75%;
	direction: rtl;
	margin-left: 25px;
}
.option.dont_effect .right_container{
	left: 18%;
}
.option .right_container .content{

direction: rtl;

color: white;

right: 15px;

margin: 0px;

padding: 0px;

text-align: right;

margin-top: 5px;

position: relative;
}



.home-option{
    direction:rtl;
}
.home-option div img{
	width: 70%;
}
.home-option .option-icon{
    width: 72%;
}
.home-option .info{
    max-width: 85%;
}
.home-option .home-option-title{
    max-width: 85%;
}
.home-option .home-option-title a{
	text-decoration:none
}
.home-option .home-option-title a:hover{
	text-decoration:underline;
	text-underline-position:under;
	    text-underline-offset: 2px;
}
.absolute_center{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
#root{
	height: 100%;
}