<!DOCTYPE html>


    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>support form</title>
    <link href="styles.css" rel="stylesheet">
    <script src="../common/lib/componise.js"></script>
    <link rel="stylesheet" href="../common/lib/bootstrap.min.css">
    <link rel="stylesheet" href="../common/common.css">
    <link rel="stylesheet" href="../common/components/header/header.css">
    <link rel="stylesheet" href="../common/components/tip/tip.css">
    <script src="codes.js"></script>
    <script src="../common/svgs.js"></script>
    <script src="../common/common.js"></script>


    <div className="mainBackground"></div>
    <script>
        componise.renderComponent({
            componentName:"myheader"
        })
    </script>
    <div id="support-form" className="content-container">
        <div className="row justify-content-center d-flex">
            <div className="col-9">
                <div className="row mt-4">
                    <div className="col">
                        <h1 className="text-light">بخش ثبت مسئله جدید</h1>
                    </div>
                </div>
                <div className="row mb-2">
                    <div className="col">
                        <h5 className="text-secondary">پیام شما را در اسرع وقت پاسخگو خواهیم بود .</h5>
                    </div>
                </div>
                <div className="row mb-1">
                    <div className="col" dir="rtl">
                        <label for="username" className="text-light mb-1">نام کاربری :</label>
                        <input type="text" className="form-control" id="username">
                    </div>
                </div>
                <div className="row mb-1">
                    <div className="col" dir="rtl">
                        <label for="subject" className="text-light mb-1">موضوع :</label>
                        <input type="text" className="form-control" id="subject">
                    </div>
                </div>
                <div className="row mb-2">
                    <div className="col" dir="rtl">
                        <label for="content" className="text-light mb-1">متن درخواست</label>
                        <input type="text" className="form-control" id="content" style="height:100px;">
                    </div>
                </div>
                <div className="row mt-2">
                    <div className="col d-grid gap-2">
                        <button className="btn btn-success" id="submit_data">ثبت اطلاعات</button>
                    </div>
                </div>
                <hr className="bg-light">
                <div className="row tips_container">
                    <script>
                        componise.renderComponent({
                            componentName:"tip",
                            iconSrc:'../common/bootstrap-icons/lightbulb-white.svg',
                            slot:'درخواست پشتیبانی شما ان شاء الله به زودی بررسی خواهد شد'
                        })
                    </script>
                    
                </div>
            </div>
        </div>
        
    
       
       
    
    </div>  

